#weather-app .weather-gadget{
	background: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-O-border-radius: 5px;
	width: 334px;
}

.curr-city {
	padding-top: 10px;
	margin-left: -2px;
	margin-bottom: 2px;
	font-weight: bold;
	text-transform:uppercase;
}
#weather-app .days .two{
padding: 0px;
background: #f2f2f2;
border-radius: 5px;
}

#weather-app .days .lb{
background: #f5f5f5;
}
#weather-app .header{
	background: #808080;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-O-border-radius: 5px 5px 0px 0px;
	color: #ffffff;
	text-align: center;
}
#weather-app .dark{
	background: #666666;
}
.days .header p,.weather-days a,.settings a{
	text-align: center;
	font-size: 10px;
}
.change-city a{margin-left: -47px;}

.humidity,.wind,.sun{clear: both;}
.weather-days{padding: 0px; text-align: center; margin-bottom: 8px;}
.weather-days .two,.weather-days .four{ padding: 0px}

.weather-days .two a:hover{
	background: #ea4e3c;
	border-radius: 10px;
	padding: 2px 8px;
	color: #ffffff;
}

.days .four{ padding-right:10px; padding-left: 0px;}
.days .temperature img{ display: block; margin: auto; /*padding: 8px 0px;*/}
.days .two,.days .four,.days .right-now{height: 200px;}
.right-now .sun,
.right-now .wind,
.right-now .humidity
{
	margin-bottom:-8px; 
}

.right-now .left,
.right-now .right{
	margin-top: -12px;
}
/* setting btn.
---------------------------------------------------------------------------------*/
.weather-gadget .settings{
	padding: 12px 2px; 
}
.weather-gadget .settings a:nth-child(1){
	margin-right: 15px;
}
/* aligning texts.
---------------------------------------------------------------------------------*/
.days .two p { font-weight: bold; margin: 0px; padding-bottom: 8px; text-align: center; }
.right-now .left p, .right-now .right p{text-align: center; padding-top:10px;margin: 0px; font-size: 13px; }
.days .wind p{padding: 0px;}
.days .wind p.sw{ margin-top: -8px; text-align: left; padding:0px 8px 8px 8px; font-weight: normal; }

